<div class="blog_left_sidebar">
  <article class="row blog_item">
      <div class="col-md-3">
          <div class="blog_info text-right">
              <div class="post_tag" *ngFor="let tag of posts.preferences" >
                  <a role="button">{{tag.name}}<i class="ti-tag"></i></a>
              </div>
              <ul class="blog_meta list">
                  <li><a role="button">{{posts.owner.nickName}}<i class="ti-user"></i></a></li>
                  <li><a role="button">{{posts.date}}<i class="ti-calendar"></i></a></li>
                  <li><a role="button">{{posts.likeCount}} likes<i class="ti-heart"></i></a></li>
                  <li><a role="button">{{posts.commentCount }}  comentarios<i class="ti-comment"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-9">
          <div class="blog_post">
              <img src="{{posts.imageSrc}}" alt="">
              <div class="blog_details">
                  <a role="button">
                      <h2>{{posts.postTitle}}</h2>
                  </a>
                  <p>{{posts.postText | slice:0:250}}...</p>
                  <a routerLink="/detail/{{posts.id}}" class="blog_btn">Ver</a>
              </div>
          </div>
      </div>
  </article>
</div>
