<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner_content text-center">
            <p class="text-uppercase">
              El mejor lugar para hacer tus publicaciones
            </p>
            <h2 class="text-uppercase mt-4 mb-5">
              Publica, aprende y comparte!
            </h2>
            <div>
              <a href="#" id="login" class="primary-btn2 mb-3 mb-sm-0">Iniciar</a>
              <a href="#" id="singin" class="primary-btn ml-sm-3 ml-0">Registrarse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start Feature Area =================-->
<section class="feature_area section_gap_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="main_title">
          <h2 class="mb-3">Lo mejor de Blog Post</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_feature">
          <div class="icon"><span class="flaticon-student"></span></div>
          <div class="desc">
            <h4 class="mt-3 mb-2">Aprende</h4>
            <p>
              Cada dia hay nuevas publicaciones, aprende sobre nuevos temas.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single_feature">
          <div class="icon"><span class="flaticon-book"></span></div>
          <div class="desc">
            <h4 class="mt-3 mb-2">Publica</h4>
            <p>
                Muestra tus capacidades literarias y comparte conocimiento.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single_feature">
          <div class="icon"><span class="flaticon-earth"></span></div>
          <div class="desc">
            <h4 class="mt-3 mb-2">Comparte</h4>
            <p>
                Comparte tu conocimiento con la comunidad y crece en conocimiento.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-login></app-login>
<app-singin></app-singin>


