<header class="header_area menu-bar">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="#"
          ><img src="../../assets/logo/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div
          class="collapse navbar-collapse offset"
          id="navbarSupportedContent"
        >
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Recomendados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mis posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liked</a>
             </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Salir</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<section class="blog_area section_gap">
    <div class="container">
        <div class="row">
            <div>
                <app-post></app-post>
            </div>
        </div>
    </div>
</section>
