<app-menubar></app-menubar>
<section class="blog_area single-post-area section_gap">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 posts-list blog-area">
              <div class="single-post row">
                  <div class="col-lg-12">
                      <div class="feature-img">
                          <img class="img-fluid" src="{{post.imageSrc}}" alt="">
                      </div>
                  </div>
                  <div class="col-lg-3  col-md-3">
                      <div class="blog_info text-right">
                          <div class="post_tag" *ngFor="let tag of post.preferences">
                              <a class="active" role="button">{{tag.name}}<i class="ti-tag"></i></a>
                          </div>
                          <ul class="blog_meta list">
                              <li><a role="button">{{post.owner.nickName}}<i class="ti-user"></i></a></li>
                              <li><a role="button">{{post.date}}<i class="ti-calendar"></i></a></li>
                              <li><a role="button">{{likeCount}} likes<i class="ti-heart"></i></a></li>
                              <li><a role="button">{{comentCount}} comentarios<i class="ti-comment"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-9 col-md-9 blog_details">
                      <h2>{{post.postTitle}}</h2>
                      <p class="excert">
                          {{post.postText}}
                      </p>
                  </div>
              </div>
              <a role="button" class="blog_btn" (click)="addLike()" *ngIf="isAlreadyLiked"><i class="ti-heart"></i> Ya no Me Gusta</a>
              <a role="button" class="blog_btn" (click)="addLike()" *ngIf="!isAlreadyLiked"><i class="ti-heart"></i> Me Gusta</a>
              <div class="comments-area">
                  <h4>{{comentCount }} Comentarios</h4>
                  <div class="comment-list" *ngFor="let comment of post.actions">
                      <div class="single-comment justify-content-between d-flex" *ngIf="comment.actionType == 2">
                          <div class="user justify-content-between d-flex">
                              <div class="desc">
                                  <h5><a role="button">{{comment.ownerAction.nickName}}</a></h5>
                                  <p class="comment" id="comment-{{comment.id}}">
                                      {{comment.comment}}
                                  </p>
                              </div>
                          </div>
                          <div class="reply-btn" *ngIf="comment.ownerAction.id == user.id">
                              <a #edit role="button" class="btn-reply text-uppercase" data-id="{{comment.id}}" (click)="editComment(edit)" >Edit</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="comment-form">
                  <h4>Deja un comentario</h4>
                  <form [formGroup] = "comment">
                      <div class="form-group">
                          <textarea formControlName="commentAdded" class="form-control mb-10" rows="5" name="message" placeholder="Agregar comentario"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                      </div>
                      <a role="button" class="primary-btn" (click)="addComment()" >Comentar</a>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
