<app-menubar></app-menubar>
<section class="blog_area single-post-area section_gap">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 posts-list blog-area">
              <div class="single-post row">
                  <div class="col-lg-12">
                      <div class="feature-img">
                          <img class="img-fluid" src="../../assets/images/m-blog-1.jpg" alt="">
                      </div>
                  </div>
                  <div class="col-lg-3  col-md-3">
                      <div class="blog_info text-right">
                          <div class="post_tag">
                              <a href="#">Food,</a>
                              <a class="active" href="#">Technology</a>
                          </div>
                          <ul class="blog_meta list">
                              <li><a href="#">Mark wiens<i class="ti-user"></i></a></li>
                              <li><a href="#">12 Dec, 2017<i class="ti-calendar"></i></a></li>
                              <li><a href="#">1.2M Views<i class="ti-heart"></i></a></li>
                              <li><a href="#">06 Comments<i class="ti-comment"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-9 col-md-9 blog_details">
                      <h2>Astronomy Binoculars A Great Alternative</h2>
                      <p class="excert">
                          MCSE boot camps have its supporters and its detractors. Some people do not understand
                          why you should have to spend money on boot camp when you can get the MCSE study
                          materials yourself at a fraction.
                      </p>
                      <p>
                          Boot camps have its supporters and its detractors. Some people do not understand why
                          you should have to spend money on boot camp when you can get the MCSE study materials
                          yourself at a fraction of the camp price. However, who has the willpower to actually
                          sit through a self-imposed MCSE training. who has the willpower to actually sit through
                          a self-imposed
                      </p>
                      <p>
                          Boot camps have its supporters and its detractors. Some people do not understand why
                          you should have to spend money on boot camp when you can get the MCSE study materials
                          yourself at a fraction of the camp price. However, who has the willpower to actually
                          sit through a self-imposed MCSE training. who has the willpower to actually sit through
                          a self-imposed
                      </p>
                  </div>
              </div>
              <a href="#" class="blog_btn"><i class="ti-heart"></i> Me Gusta</a>
              <div class="comments-area">
                  <h4>05 Comments</h4>
                  <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                          <div class="user justify-content-between d-flex">
                              <div class="desc">
                                  <h5><a href="#">Emilly Blunt</a></h5>
                                  <p class="comment">
                                      Never say goodbye till the end comes!
                                  </p>
                              </div>
                          </div>
                          <div class="reply-btn">
                              <a href="" class="btn-reply text-uppercase">Edit</a>
                          </div>
                      </div>
                  </div>
                  <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                          <div class="user justify-content-between d-flex">
                              <div class="desc">
                                  <h5><a href="#">Maria Luna</a></h5>
                                  <p class="comment">
                                      Never say goodbye till the end comes!
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                          <div class="user justify-content-between d-flex">
                              <div class="desc">
                                  <h5><a href="#">Ina Hayes</a></h5>
                                  <p class="comment">
                                      Never say goodbye till the end comes!
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form>
                      <div class="form-group">
                          <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                      </div>
                      <a href="#" class="primary-btn">Post Comment</a>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
