/* You can add global styles to this file, and also import other style files */

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.primary-btn {
  display: inline-block;
  background: #fdc632;
  padding: 0px 48px;
  color: #002347;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .primary-btn:hover {
    background: #002347;
    color: #fdc632; }

.primary-btn2 {
  display: inline-block;
  background: #002347;
  padding: 0px 48px;
  color: #fdc632;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none !important;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .primary-btn2:hover {
    background: transparent;
    color: #002347;
    border: 1px solid #002347; }

    .list {
      list-style: none;
      margin: 0px;
      padding: 0px;
  }

  .menu-bar{
    border-bottom-color: black;
    border-bottom: inset;
    margin-bottom: 2%;
  }

.white_bg_btn {
  background: #fff;
  display: inline-block;
  color: #002347;
  line-height: 40px;
  padding: 0px 28px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none; }
  .white_bg_btn:hover {
    background: #fdc632;
    color: #fff; }

.blog_btn {
  border: 1px solid #eeeeee;
  background: #f1f9ff;
  padding: 0px 32px;
  font-size: 13px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #002347;
  line-height: 34px;
  display: inline-block; }
  .blog_btn:hover {
    background: #fdc632;
    border-color: #fdc632;
    color: #002347; }

/* End Main Button Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/

/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  margin-bottom: 85px; }
  @media (max-width: 991px) {
    .main_title {
      margin-bottom: 40px; } }
  .main_title h2 {
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px; }
    @media (max-width: 575px) {
      .main_title h2 {
        font-size: 30px;
        margin-bottom: 10px; } }
  .main_title p {
    font-size: 16px;
    margin-bottom: 0px;
    font-style: italic; }

.lite_bg {
  background: #f9f9f9; }

/* End Main Title Area css
============================================================================================ */


.feature_area {
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    .feature_area {
      padding-bottom: 40px; } }

.single_feature {
  position: relative;
  background: #f9f9ff;
  padding: 40px 36px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 480px) {
    .single_feature {
      padding: 40px 20px; } }
  .single_feature .icon span {
    font-size: 30px; }
  .single_feature h4 {
    font-size: 20px;
    font-weight: 500; }
  .single_feature p {
    margin-bottom: 0px; }
  .single_feature:hover {
    box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.1); }

    .blog_area {
      padding-bottom: 80px; }

      .latest_blog_area {
        background: #f9f9ff; }

      .single-recent-blog-post {
        margin-bottom: 30px; }
        .single-recent-blog-post .thumb {
          overflow: hidden; }
          .single-recent-blog-post .thumb img {
            transition: all 0.7s linear; }
        .single-recent-blog-post .details {
          padding-top: 30px; }
          .single-recent-blog-post .details .sec_h4 {
            line-height: 24px;
            padding: 10px 0px 13px;
            transition: all 0.3s linear; }
            .single-recent-blog-post .details .sec_h4:hover {
              color: #7b838a; }
        .single-recent-blog-post .date {
          font-size: 14px;
          line-height: 24px;
          font-weight: 400; }
        .single-recent-blog-post:hover img {
          transform: scale(1.23) rotate(10deg); }

      .tags .tag_btn {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        border: 1px solid #eeeeee;
        display: inline-block;
        padding: 1px 18px;
        text-align: center;
        color: #002347; }
        .tags .tag_btn:before {
          background: #fdc632; }
        .tags .tag_btn + .tag_btn {
          margin-left: 2px; }

      /*========= blog_categorie_area css ===========*/
      .blog_categorie_area {
        padding-top: 80px;
        padding-bottom: 80px; }

      .categories_post {
        position: relative;
        text-align: center;
        cursor: pointer; }
        .categories_post img {
          max-width: 100%; }
        .categories_post .categories_details {
          position: absolute;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
          background: rgba(34, 34, 34, 0.8);
          color: #fff;
          transition: all 0.3s linear;
          display: flex;
          align-items: center;
          justify-content: center; }
          .categories_post .categories_details h5 {
            margin-bottom: 0px;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            color: #fff;
            position: relative; }
          .categories_post .categories_details p {
            font-weight: 300;
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 0px; }
          .categories_post .categories_details .border_line {
            margin: 10px 0px;
            background: #fff;
            width: 100%;
            height: 1px; }
        .categories_post:hover .categories_details {
          background: #fdc632;
          background-color: transparent;
          opacity: 0.6; }

      /*============ blog_left_sidebar css ==============*/
      .blog_item {
        margin-bottom: 40px; }

      .blog_info {
        padding-top: 30px; }
        .blog_info .post_tag {
          padding-bottom: 20px; }
          .blog_info .post_tag a {
            font: 300 14px/21px "Roboto", sans-serif;
            color: #002347; }
            .blog_info .post_tag a:hover {
              color: #7b838a; }
            .blog_info .post_tag a.active {
              color: #fdc632; }
        .blog_info .blog_meta li a {
          font: 300 14px/20px "Roboto", sans-serif;
          color: #777777;
          vertical-align: middle;
          padding-bottom: 12px;
          display: inline-block; }
          .blog_info .blog_meta li a i {
            color: #002347;
            font-size: 16px;
            font-weight: 600;
            padding-left: 15px;
            line-height: 20px;
            vertical-align: middle; }
          .blog_info .blog_meta li a:hover {
            color: #fdc632; }

      .blog_post img {
        max-width: 100%; }

      .blog_details {
        padding-top: 20px; }
        .blog_details h2 {
          font-size: 24px;
          line-height: 36px;
          color: #002347;
          font-weight: 600;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear; }
          .blog_details h2:hover {
            color: #fdc632; }
        .blog_details p {
          margin-bottom: 26px; }

      .view_btn {
        font-size: 14px;
        line-height: 36px;
        display: inline-block;
        color: #002347;
        font-weight: 500;
        padding: 0px 30px;
        background: #fff; }

      .blog_right_sidebar {
        background: #f1f9ff;
        padding: 30px; }
        @media (max-width: 991px) {
          .blog_right_sidebar {
            margin-top: 80px; } }
        .blog_right_sidebar .widget_title {
          font-size: 18px;
          line-height: 25px;
          background: #002347;
          text-align: center;
          color: #fff;
          padding: 8px 0px;
          margin-bottom: 30px; }
        .blog_right_sidebar .search_widget .input-group .form-control {
          font-size: 14px;
          line-height: 29px;
          border: 0px;
          width: 100%;
          font-weight: 300;
          color: #fff;
          padding-left: 20px;
          border-radius: 45px;
          z-index: 0;
          background: #002347; }
          .blog_right_sidebar .search_widget .input-group .form-control.placeholder {
            color: #fff; }
          .blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
            color: #fff; }
          .blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
            color: #fff; }
          .blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
            color: #fff; }
          .blog_right_sidebar .search_widget .input-group .form-control:focus {
            box-shadow: none; }
        .blog_right_sidebar .search_widget .input-group .btn-default {
          position: absolute;
          right: 20px;
          background: transparent;
          border: 0px;
          box-shadow: none;
          font-size: 14px;
          color: #fff;
          padding: 0px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1; }
        .blog_right_sidebar .author_widget {
          text-align: center; }
          .blog_right_sidebar .author_widget h4 {
            font-size: 18px;
            line-height: 20px;
            color: #002347;
            margin-bottom: 5px;
            margin-top: 30px; }
          .blog_right_sidebar .author_widget p {
            margin-bottom: 0px; }
          .blog_right_sidebar .author_widget .social_icon {
            padding: 7px 0px 15px; }
            .blog_right_sidebar .author_widget .social_icon a {
              font-size: 14px;
              color: #002347;
              transition: all 0.2s linear; }
              .blog_right_sidebar .author_widget .social_icon a + a {
                margin-left: 20px; }
              .blog_right_sidebar .author_widget .social_icon a:hover {
                color: #fdc632; }
        .blog_right_sidebar .popular_post_widget .post_item .media-body {
          justify-content: center;
          align-self: center;
          padding-left: 20px; }
          .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
            font-size: 14px;
            line-height: 20px;
            color: #002347;
            margin-bottom: 4px;
            transition: all 0.3s linear; }
            .blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
              color: #fdc632; }
          .blog_right_sidebar .popular_post_widget .post_item .media-body p {
            font-size: 12px;
            line-height: 21px;
            margin-bottom: 0px; }
        .blog_right_sidebar .popular_post_widget .post_item + .post_item {
          margin-top: 20px; }
        .blog_right_sidebar .post_category_widget .cat-list li {
          border-bottom: 2px dotted #eee;
          transition: all 0.3s ease 0s;
          padding-bottom: 12px; }
          .blog_right_sidebar .post_category_widget .cat-list li a {
            font-size: 14px;
            line-height: 20px;
            color: #777; }
            .blog_right_sidebar .post_category_widget .cat-list li a p {
              margin-bottom: 0px; }
          .blog_right_sidebar .post_category_widget .cat-list li + li {
            padding-top: 15px; }
          .blog_right_sidebar .post_category_widget .cat-list li:hover {
            border-color: #fdc632; }
            .blog_right_sidebar .post_category_widget .cat-list li:hover a {
              color: #fdc632; }
        .blog_right_sidebar .newsletter_widget {
          text-align: center; }
          .blog_right_sidebar .newsletter_widget .form-group {
            margin-bottom: 8px; }
          .blog_right_sidebar .newsletter_widget .input-group-prepend {
            margin-right: -1px; }
          .blog_right_sidebar .newsletter_widget .input-group-text {
            background: #fff;
            border-radius: 0px;
            vertical-align: top;
            font-size: 12px;
            line-height: 36px;
            padding: 0px 0px 0px 15px;
            border: 1px solid #eeeeee;
            border-right: 0px; }
          .blog_right_sidebar .newsletter_widget .form-control {
            font-size: 12px;
            line-height: 24px;
            color: #cccccc;
            border: 1px solid #eeeeee;
            border-left: 0px;
            border-radius: 0px; }
            .blog_right_sidebar .newsletter_widget .form-control.placeholder {
              color: #cccccc; }
            .blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder {
              color: #cccccc; }
            .blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder {
              color: #cccccc; }
            .blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder {
              color: #cccccc; }
            .blog_right_sidebar .newsletter_widget .form-control:focus {
              outline: none;
              box-shadow: none; }
          .blog_right_sidebar .newsletter_widget .bbtns {
            background: #fdc632;
            color: #fff;
            font-size: 12px;
            line-height: 38px;
            display: inline-block;
            font-weight: 500;
            padding: 0px 24px 0px 24px;
            border-radius: 0; }
          .blog_right_sidebar .newsletter_widget .text-bottom {
            font-size: 12px; }
        .blog_right_sidebar .tag_cloud_widget ul li {
          display: inline-block; }
          .blog_right_sidebar .tag_cloud_widget ul li a {
            display: inline-block;
            border: 1px solid #eee;
            background: #fff;
            padding: 0px 13px;
            margin-bottom: 8px;
            transition: all 0.3s ease 0s;
            color: #002347;
            font-size: 12px; }
            .blog_right_sidebar .tag_cloud_widget ul li a:hover {
              background: #fdc632;
              color: #fff; }
        .blog_right_sidebar .br {
          width: 100%;
          height: 1px;
          background: #eeeeee;
          margin: 30px 0px; }

      .blog-pagination {
        padding-top: 25px; }
        .blog-pagination .page-link {
          border-radius: 0; }
        .blog-pagination .page-item {
          border: none; }
        .blog-pagination .pagination {
          margin-bottom: 0px; }

      .page-link {
        background: transparent;
        font-weight: 400; }
